USE [master]
GO
/****** Object:  Database [csdlTheGioiDienMay]    Script Date: 6/6/2023 5:53:49 PM ******/
CREATE DATABASE [csdlTheGioiDienMay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'csdlTheGioiDienMay_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\csdlTheGioiDienMay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'csdlTheGioiDienMay_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\csdlTheGioiDienMay.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [csdlTheGioiDienMay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [csdlTheGioiDienMay]
GO
/****** Object:  Table [dbo].[CTDONHANG]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONHANG](
	[MACTDH] [int] IDENTITY(1,1) NOT NULL,
	[MADH] [int] NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[DONGIA] [money] NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAIDANHGIA] [bit] NOT NULL,
 CONSTRAINT [PK_CTDONHANG] PRIMARY KEY CLUSTERED 
(
	[MACTDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTKHUYENMAI]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTKHUYENMAI](
	[MACTKM] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[MAKM] [varchar](10) NOT NULL,
 CONSTRAINT [PK_CTKHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MACTKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHGIA]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHGIA](
	[MADG] [int] IDENTITY(1,1) NOT NULL,
	[SOSAO] [float] NOT NULL,
	[NOIDUNG] [nvarchar](1000) NULL,
	[NGAY] [date] NOT NULL,
	[MAND] [int] NOT NULL,
	[MASP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_DANHGIA] PRIMARY KEY CLUSTERED 
(
	[MADG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTAO] [date] NULL,
	[HOTEN] [nvarchar](40) NOT NULL,
	[SDT] [varchar](15) NOT NULL,
	[DIACHI] [nvarchar](300) NOT NULL,
	[TONGTIEN] [money] NULL,
	[TRANGTHAI] [int] NULL,
	[MAND] [int] NOT NULL,
 CONSTRAINT [PK_DONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIOHANG]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOHANG](
	[MAGH] [int] IDENTITY(1,1) NOT NULL,
	[MAND] [int] NOT NULL,
	[MASP] [varchar](20) NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_GIOHANG] PRIMARY KEY CLUSTERED 
(
	[MAGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINHANH]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINHANH](
	[MAHINHANH] [int] IDENTITY(1,1) NOT NULL,
	[LINK] [varchar](100) NULL,
	[MASP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_HINHANH_1] PRIMARY KEY CLUSTERED 
(
	[MAHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHUYENMAI]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHUYENMAI](
	[MAKM] [varchar](10) NOT NULL,
	[GIATRI] [int] NOT NULL,
	[NGAYBATDAU] [date] NULL,
	[NGAYKETTHUC] [date] NULL,
	[SOLUONG] [int] NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_KHUYENMAI] PRIMARY KEY CLUSTERED 
(
	[MAKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [varchar](10) NOT NULL,
	[TENLOAI] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[MAND] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](30) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [bit] NULL,
	[NGAYSINH] [date] NULL,
	[SDT] [varchar](15) NOT NULL,
	[EMAIL] [varchar](30) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[QUYEN] [int] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[MAND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](20) NOT NULL,
	[TENSANPHAM] [nvarchar](50) NOT NULL,
	[THONGSOKT] [nvarchar](500) NULL,
	[MOTA] [nvarchar](1000) NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [money] NULL,
	[HINHANHDAIDIEN] [varchar](200) NULL,
	[TRANGTHAI] [bit] NULL,
	[MALOAI] [varchar](10) NOT NULL,
	[MATH] [varchar](10) NOT NULL,
	[SOSAOTB] [float] NOT NULL,
	[NGAYTHEM] [date] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 6/6/2023 5:53:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [varchar](10) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
	[TRANGTHAI] [bit] NULL,
 CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CTDONHANG] ON 

INSERT [dbo].[CTDONHANG] ([MACTDH], [MADH], [MASP], [DONGIA], [SOLUONG], [TRANGTHAIDANHGIA]) VALUES (39, 26, N'BA190PPVN', 5000000.0000, 1, 0)
INSERT [dbo].[CTDONHANG] ([MACTDH], [MADH], [MASP], [DONGIA], [SOLUONG], [TRANGTHAIDANHGIA]) VALUES (40, 27, N'TC1622', 535000.0000, 1, 0)
INSERT [dbo].[CTDONHANG] ([MACTDH], [MADH], [MASP], [DONGIA], [SOLUONG], [TRANGTHAIDANHGIA]) VALUES (55, 41, N'RS62R5001M9', 16990000.0000, 1, 0)
SET IDENTITY_INSERT [dbo].[CTDONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[CTKHUYENMAI] ON 

INSERT [dbo].[CTKHUYENMAI] ([MACTKM], [MASP], [MAKM]) VALUES (1, N'BA190PPVN', N'KMS001')
INSERT [dbo].[CTKHUYENMAI] ([MACTKM], [MASP], [MAKM]) VALUES (2, N'BA190PPVN', N'KMS002')
INSERT [dbo].[CTKHUYENMAI] ([MACTKM], [MASP], [MAKM]) VALUES (3, N'AR09TYHQASINSV1', N'KMS003')
SET IDENTITY_INSERT [dbo].[CTKHUYENMAI] OFF
GO
SET IDENTITY_INSERT [dbo].[DANHGIA] ON 

INSERT [dbo].[DANHGIA] ([MADG], [SOSAO], [NOIDUNG], [NGAY], [MAND], [MASP]) VALUES (1, 5, N'Sản phẩm như hình, chất lượng tốt', CAST(N'2023-04-30' AS Date), 9, N'BA190PPVN')
INSERT [dbo].[DANHGIA] ([MADG], [SOSAO], [NOIDUNG], [NGAY], [MAND], [MASP]) VALUES (4, 4, N'Sản phẩm chất lượng', CAST(N'2023-04-01' AS Date), 22, N'BA190PPVN')
INSERT [dbo].[DANHGIA] ([MADG], [SOSAO], [NOIDUNG], [NGAY], [MAND], [MASP]) VALUES (8, 5, N'Phù hợp giá tiền, nói chung đáng mua', CAST(N'2023-05-11' AS Date), 8, N'BA190PPVN')
SET IDENTITY_INSERT [dbo].[DANHGIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [NGAYTAO], [HOTEN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI], [MAND]) VALUES (26, CAST(N'2023-05-24' AS Date), N'Nguyễn Văn Hùng', N'0359990224', N'Bình Dương', 5000000.0000, 3, 25)
INSERT [dbo].[DONHANG] ([MADH], [NGAYTAO], [HOTEN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI], [MAND]) VALUES (27, CAST(N'2023-02-24' AS Date), N'Nguyễn Văn Hùng', N'0359990224', N'Bình Dương', 535000.0000, 3, 25)
INSERT [dbo].[DONHANG] ([MADH], [NGAYTAO], [HOTEN], [SDT], [DIACHI], [TONGTIEN], [TRANGTHAI], [MAND]) VALUES (41, CAST(N'2023-03-29' AS Date), N'Nguyễn Văn Sơn', N'0395689402', N'đường số 102, Tăng Nhơn Phú A, quận 9, thành phố Thủ Đức', 16990000.0000, 3, 27)
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[GIOHANG] ON 

INSERT [dbo].[GIOHANG] ([MAGH], [MAND], [MASP], [SOLUONG]) VALUES (4050, 24, N'AR09TYHQASINSV1', 1)
INSERT [dbo].[GIOHANG] ([MAGH], [MAND], [MASP], [SOLUONG]) VALUES (4051, 27, N'WW95T4040CE', 1)
SET IDENTITY_INSERT [dbo].[GIOHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[HINHANH] ON 

INSERT [dbo].[HINHANH] ([MAHINHANH], [LINK], [MASP]) VALUES (30, N'assets/img/sanPham/TC-09IS35.jpg', N'TC-09IS35')
INSERT [dbo].[HINHANH] ([MAHINHANH], [LINK], [MASP]) VALUES (31, N'assets/img/sanPham/TC-09IS351.jpg', N'TC-09IS35')
INSERT [dbo].[HINHANH] ([MAHINHANH], [LINK], [MASP]) VALUES (32, N'assets/img/sanPham/TC-09IS352.jpg', N'TC-09IS35')
GO
SET IDENTITY_INSERT [dbo].[HINHANH] OFF
GO
INSERT [dbo].[KHUYENMAI] ([MAKM], [GIATRI], [NGAYBATDAU], [NGAYKETTHUC], [SOLUONG], [TRANGTHAI]) VALUES (N'KMS001', 8000, CAST(N'2023-04-03' AS Date), CAST(N'2023-06-03' AS Date), 65, 1)
INSERT [dbo].[KHUYENMAI] ([MAKM], [GIATRI], [NGAYBATDAU], [NGAYKETTHUC], [SOLUONG], [TRANGTHAI]) VALUES (N'KMS002', 200000000, CAST(N'2023-03-06' AS Date), CAST(N'2023-03-14' AS Date), 100, 1)
INSERT [dbo].[KHUYENMAI] ([MAKM], [GIATRI], [NGAYBATDAU], [NGAYKETTHUC], [SOLUONG], [TRANGTHAI]) VALUES (N'KMS003', 50000, CAST(N'2023-04-08' AS Date), CAST(N'2023-04-16' AS Date), 25, 1)
GO
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'MAYGIAT', N'MÁY GIẶT')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'MAYLANH', N'MÁY LẠNH')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'NOICOM', N'NỒI CƠM ĐIỆN')
GO
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] ON 

INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [QUYEN], [TRANGTHAI]) VALUES (5, N'tommy275', N'$2a$12$3pqbp/XtoZjFZBVLxuUj4uHcLsIwwP/HExtHZI8LBDUF7PrysSlMO', N'Nguyễn Trần Tín', 1, CAST(N'2002-01-05' AS Date), N'0937681469', N'tinnguyen3523@gmail.com', N'70 Lê Quang Định', 2, 1)
INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [QUYEN], [TRANGTHAI]) VALUES (6, N'abc123', N'$2a$12$bZN3DU2qwY8BzOSFEhArueSjVKaPmSQBYAapv58.m5rHmcVdyqZdW', N'Lê Tèo', 1, CAST(N'2002-01-28' AS Date), N'0931234567', N'abc123@gmail.com', N'Thủ Đức', 0, 1)
INSERT [dbo].[NGUOIDUNG] ([MAND], [USERNAME], [PASSWORD], [HOTEN], [GIOITINH], [NGAYSINH], [SDT], [EMAIL], [DIACHI], [QUYEN], [TRANGTHAI]) VALUES (7, N'superman', N'$2a$12$JIvmAZHy7hexWulVyxGFf.Bgtnwp4IX0mueqW4iwJ20BMCFSFCkW2', N'Phan Xuân Huỳnh', 0, CAST(N'2002-08-19' AS Date), N'0934561234', N'xuanhuynh@gmail.com', N'Quận 9', 0, 1)
SET IDENTITY_INSERT [dbo].[NGUOIDUNG] OFF
GO
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'CAS', N'Casper', 1)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'DAI', N'DAIKIN', 1)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTHUONGHIEU], [TRANGTHAI]) VALUES (N'FUG', N'FUGIO', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TenSANPHAM]    Script Date: 6/6/2023 5:53:50 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [UK_TenSANPHAM] UNIQUE NONCLUSTERED 
(
	[TENSANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_Tenthuonghieu]    Script Date: 6/6/2023 5:53:50 PM ******/
ALTER TABLE [dbo].[THUONGHIEU] ADD  CONSTRAINT [UK_Tenthuonghieu] UNIQUE NONCLUSTERED 
(
	[TENTHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_SOSAOTB]  DEFAULT ((0.0)) FOR [SOSAOTB]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKHUYENMAI_KHUYENMAI] FOREIGN KEY([MAKM])
REFERENCES [dbo].[KHUYENMAI] ([MAKM])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTKHUYENMAI] CHECK CONSTRAINT [FK_CTKHUYENMAI_KHUYENMAI]
GO
ALTER TABLE [dbo].[CTKHUYENMAI]  WITH CHECK ADD  CONSTRAINT [FK_CTKHUYENMAI_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTKHUYENMAI] CHECK CONSTRAINT [FK_CTKHUYENMAI_SANPHAM]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_NGUOIDUNG] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_NGUOIDUNG]
GO
ALTER TABLE [dbo].[DANHGIA]  WITH CHECK ADD  CONSTRAINT [FK_DANHGIA_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[DANHGIA] CHECK CONSTRAINT [FK_DANHGIA_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_NGUOIDUNG] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_NGUOIDUNG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_NGUOIDUNG] FOREIGN KEY([MAND])
REFERENCES [dbo].[NGUOIDUNG] ([MAND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_NGUOIDUNG]
GO
ALTER TABLE [dbo].[GIOHANG]  WITH CHECK ADD  CONSTRAINT [FK_GIOHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[GIOHANG] CHECK CONSTRAINT [FK_GIOHANG_SANPHAM]
GO
ALTER TABLE [dbo].[HINHANH]  WITH CHECK ADD  CONSTRAINT [FK_HINHANH_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HINHANH] CHECK CONSTRAINT [FK_HINHANH_SANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISANPHAM] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISANPHAM]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUONGHIEU] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUONGHIEU]
GO
ALTER TABLE [dbo].[KHUYENMAI]  WITH CHECK ADD  CONSTRAINT [CK_Soluong_Khuyenmai] CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[KHUYENMAI] CHECK CONSTRAINT [CK_Soluong_Khuyenmai]
GO
USE [master]
GO
