
:root{
	--color:#149ECF;
}
h2{
	margin-top:20px;
	font-weight: bold;
	color:var(--color);
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#diaChi{
	
	width: 100%;
	text-align: left;
	background-color: white;
	padding: 10px;
	border-top: 2px dashed #149ECF;
	  border-width: 3px ;
}
#diaChi-tittle{
	color: var(--color);
	font-size: 20px;
	font-weight: bold;

	
}
.user-info{
	display: grid;
	grid-template-columns: 60% 1fr;
	column-gap: 10px;
	row-gap:20px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.user-info>span{
	max-width: 100%;
}



select.form-control:not([size]):not([multiple]) {
    height: 44px;
}

#cart-tittle{
	    width: 100%;
    text-align: center;
        font-weight: 900;
    color: #149ECF;
    margin-top: 10px;
}

.sanPham{
	margin-top: 10px;
	background-color: white;
	width: 100%;
}

select.form-control {
    padding-right: 38px;
    background-position: center right 17px;
    background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNv…9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-size: 9px 9px;
}
.form-control:not(textarea) {
    height: 44px;
}
.form-control {
    padding: 0 18px 3px;
    border: 1px solid #dbe2e8;
    border-radius: 22px;
    background-color: #fff;
    color: #606975;
    font-family: "Maven Pro",Helvetica,Arial,sans-serif;
    font-size: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.shopping-cart,
.wishlist-table,
.order-table {
    margin-bottom: 20px
}

.shopping-cart .table,
.wishlist-table .table,
.order-table .table {
    margin-bottom: 0
}

.shopping-cart .btn,
.wishlist-table .btn,
.order-table .btn {
    margin: 0
}

.shopping-cart>table>thead>tr>th,
.shopping-cart>table>thead>tr>td,
.shopping-cart>table>tbody>tr>th,
.shopping-cart>table>tbody>tr>td,
.wishlist-table>table>thead>tr>th,
.wishlist-table>table>thead>tr>td,
.wishlist-table>table>tbody>tr>th,
.wishlist-table>table>tbody>tr>td,
.order-table>table>thead>tr>th,
.order-table>table>thead>tr>td,
.order-table>table>tbody>tr>th,
.order-table>table>tbody>tr>td {
    vertical-align: middle !important
}

.shopping-cart>table thead th,
.wishlist-table>table thead th,
.order-table>table thead th {
    padding-top: 17px;
    padding-bottom: 17px;
    border-width: 1px
}

.shopping-cart .remove-from-cart,
.wishlist-table .remove-from-cart,
.order-table .remove-from-cart {
    display: inline-block;
    color: #ff5252;
    font-size: 18px;
    line-height: 1;
    text-decoration: none
}

.shopping-cart .count-input,
.wishlist-table .count-input,
.order-table .count-input {
    display: inline-block;
    width: 100%;
    width: 86px
}

.shopping-cart .product-item,
.wishlist-table .product-item,
.order-table .product-item {
    display: table;
    width: 100%;
    min-width: 150px;
    margin-top: 5px;
    margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb,
.shopping-cart .product-item .product-info,
.wishlist-table .product-item .product-thumb,
.wishlist-table .product-item .product-info,
.order-table .product-item .product-thumb,
.order-table .product-item .product-info {
    display: table-cell;
    vertical-align: top
}

.shopping-cart .product-item .product-thumb,
.wishlist-table .product-item .product-thumb,
.order-table .product-item .product-thumb {
    width: 130px;
    padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img,
.wishlist-table .product-item .product-thumb>img,
.order-table .product-item .product-thumb>img {
    display: block;
    width: 100%
}

@media screen and (max-width: 860px) {
    .shopping-cart .product-item .product-thumb,
    .wishlist-table .product-item .product-thumb,
    .order-table .product-item .product-thumb {
        display: none
    }
}

.shopping-cart .product-item .product-info span,
.wishlist-table .product-item .product-info span,
.order-table .product-item .product-info span {
    display: block;
    font-size: 13px
}

.shopping-cart .product-item .product-info span>em,
.wishlist-table .product-item .product-info span>em,
.order-table .product-item .product-info span>em {
    font-weight: 500;
    font-style: normal
}

.shopping-cart .product-item .product-title,
.wishlist-table .product-item .product-title,
.order-table .product-item .product-title {
    margin-bottom: 6px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500
}

.shopping-cart .product-item .product-title>a,
.wishlist-table .product-item .product-title>a,
.order-table .product-item .product-title>a {
    transition: color .3s;
    color: #374250;
    line-height: 1.5;
    text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover,
.wishlist-table .product-item .product-title>a:hover,
.order-table .product-item .product-title>a:hover {
    color: #0da9ef
}

.shopping-cart .product-item .product-title small,
.wishlist-table .product-item .product-title small,
.order-table .product-item .product-title small {
    display: inline;
    margin-left: 6px;
    font-weight: 500
}

.wishlist-table .product-item .product-thumb {
    display: table-cell !important
}

@media screen and (max-width: 576px) {
    .wishlist-table .product-item .product-thumb {
        display: none !important
    }
}

.shopping-cart-footer {
    display: table;
    width: 100%;
    padding: 10px 10px;
   
}

.shopping-cart-footer>.column {
    display: table-cell;
    padding: 5px 0;
    vertical-align: middle
}

.shopping-cart-footer>.column:last-child {
    text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
    margin-right: 0;
    margin-left: 15px
}

@media (max-width: 768px) {
    .shopping-cart-footer>.column {
        display: block;
        width: 100%
    }
    .shopping-cart-footer>.column:last-child {
        text-align: center
    }
    .shopping-cart-footer>.column .btn {
        width: 100%;
        margin: 12px 0 !important
    }
}

.coupon-form .form-control {
    display: inline-block;
    width: 100%;
    max-width: 235px;
    margin-right: 12px;
}

.form-control-sm:not(textarea) {
    height: 36px;
}

.max-width{
	max-width:90%;
}

th{
	text-align: center;
	background-color: var(--header-color) !important;
	color:white;
}
.dropdown-btn{
	    float: right;
    background-color: deepskyblue;
    font-weight: bold;
}
.dropdown-btn:hover{
	background-color: white;
	color: deepskyblue;
}
.dropdown-btn:focus{
	background-color: white;
	color: deepskyblue;
}

.new-info{
	padding: 10px;
	width: 50%;
}
.new-info>li{
	display: flex;
	flex-direction: column;
}
.new-info>li>input{
	outline: none;
	border-radius: 5px;
	border: 1px solid rgb(0,0,0,0.4);
	padding: 5px;
}
#btn-newInfo{
	    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: deepskyblue;
    font-weight: bold;
}
#btn-newInfo:hover{
	opacity: 0.6;
}
.new-info a{
	text-decoration: none;
	color: white;
}
.text{
	font-weight: bold;
	color: deepskyblue;
}
.loi{
	    font-size: 10px;
    color: red;
    font-style: italic;
    text-align: center;
}
#btn-datHang{
	border: none;
    padding: 10px;
    width: auto;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
    font-weight: bold;
}
#btn-datHang:hover{
	opacity: 0.7;
}

.disable{
	    pointer-events: none;
	    color: black !important;
	    background-color: gray !important;
}
